<a target="_blank" href="https://colab.research.google.com/github.com/giordamaug/HELP/blob/v2.0/notebooks/tuning.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>
<a target="_blank" href="https://www.kaggle.com/notebooks/welcome?src=https://github.com/giordamaug/HELP/blob/v2.0/notebooks/tuning.ipynb">
  <img src="https://kaggle.com/static/images/open-in-kaggle.svg" alt="Open In Colab"/>
</a>

### 1. Load optuna library

In [1]:
import numpy as np
import pandas as pd
import os, sys 
import optuna

### 2. Download the input files
For a chosen tissue (here `Kidney`), download from Zenodo [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.12597679.svg)](https://doi.org/10.5281/zenodo.12597679)
 the label file (here `Kidney_HELP.csv`, computed as in Example 1) and the attribute files (here BIO `Kidney_BIO.csv`, CCcfs `Kidney_CCcfs.csv`, and N2V `Kidney_EmbN2V_128.csv`).  

Skip this step if you already have these input files locally.

In [1]:
from HELPpy.utility.utils import pdread_csv_fromurl
tissue='Kidney'
X_bio = pdread_csv_fromurl(f"https://zenodo.org/records/11917458/files/{tissue}_BIO.csv", index_col=0)
X_n2v = pdread_csv_fromurl(f"https://zenodo.org/records/11917458/files/{tissue}_EmbN2V_128.csv", index_col=0)
X_cccfs = pdread_csv_fromurl(f"https://zenodo.org/records/11917458/files/{tissue}_CCcfs.csv", index_col=0)
Y = pdread_csv_fromurl(f"https://zenodo.org/records/11917458/files/{tissue}_HELP.csv", index_col=0)

### 3. Pre-processing and merge input files
We apply pre-processing only to the BIO and CCcfs attributes.
+ constant attributes removal, and
+ data scaling with z-score.  

We also replace `E` label (positive label) and `aE` and `sNE` labels as 0 label (negative label), to address binary `E vs NE` classification.

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
df_y = Y.replace({'aE': 0, 'sNE': 0, 'E': 1})
print(df_y.value_counts(normalize=False))
consts = X_bio.columns[X_bio.nunique() <= 1].values
print(f"Removing {len(consts)} constant features ...")
X_bio = X_bio.drop(consts, axis=1)
X_bio = pd.DataFrame(StandardScaler().fit_transform(X_bio), index=X_bio.index, columns=X_bio.columns)
X_cccfs = pd.DataFrame(StandardScaler().fit_transform(X_cccfs), index=X_cccfs.index, columns=X_cccfs.columns)
consts = X_cccfs.columns[X_cccfs.nunique() <= 1].values
print(f"Removing {len(consts)} constant features ...")
X_cccfs = X_cccfs.drop(consts, axis=1)
df_X = pd.merge(X_bio, X_n2v, left_index=True, right_index=True, how='outer')
df_X = pd.merge(df_X, X_cccfs, left_index=True, right_index=True, how='outer')
idxs = np.intersect1d(df_y.index.values, df_X.index.values)
df_X = df_X.loc[idxs]
df_y = df_y.loc[idxs]
dataset = pd.concat([df_X,df_y], axis=1)

label
0        16678
1         1253
Name: count, dtype: int64
Removing 0 constant features ...
Removing 3 constant features ...

### 4. Compare models (Pycaret)

Start tuning session of models to be compared.

In [6]:
from pycaret.classification import *
clf = setup(data = dataset, 
             target = 'label',
             numeric_imputation = 'mean',
             categorical_features = [], session_id = 444,
             fold_strategy = "stratifiedkfold", fold=5,
             verbose = True)

### 4.1. Customize the metrics

In [8]:
from sklearn.metrics import *
from imblearn.metrics import specificity_score
try: 
    [remove_metric(m) for m in ['Precision', 'F1', 'Kappa', 'Recall']]  # remove unused metrics
    add_metric('Sensitivity', 'Sensitivity', recall_score, greater_is_better = True)
    add_metric('Specificity', 'Specificity', specificity_score, greater_is_better = True)
    add_metric('Balanced Accuracy', 'BA', balanced_accuracy_score, greater_is_better = True)
except: 
    pass
get_metrics()

,Name,Display Name,Score Function,Scorer,Target,Args,Greater is Better,Multiclass,Custom
ID,,,,,,,,,
acc,Accuracy,Accuracy,<function accuracy_score at 0x17c128f70>,accuracy,pred,{},True,True,False
auc,AUC,AUC,<pycaret.internal.metrics.BinaryMulticlassScor...,"make_scorer(roc_auc_score, response_method=('d...",pred_proba,"{'average': 'weighted', 'multi_class': 'ovr'}",True,True,False
mcc,MCC,MCC,<function matthews_corrcoef at 0x17c129510>,"make_scorer(matthews_corrcoef, response_method...",pred,{},True,True,False
Sensitivity,Sensitivity,Sensitivity,<pycaret.internal.metrics.EncodedDecodedLabels...,"make_scorer(recall_score, response_method='pre...",pred,{},True,True,True
Specificity,Specificity,Specificity,<pycaret.internal.metrics.EncodedDecodedLabels...,"make_scorer(specificity_score, response_method...",pred,{},True,True,True
Balanced Accuracy,BA,BA,<pycaret.internal.metrics.EncodedDecodedLabels...,"make_scorer(balanced_accuracy_score, response_...",pred,{},True,True,True

#### 4.2. Tune models on E vs Ne classification for kidney case study

In [10]:
from icarlearn.ensemble.splitvotingens import *
savepath = "../pycaret"
tuned_models = []
tuners = []
hparams = {"n_voters" :[4, 6, 8, 10, 12, 14, 16, 18, 20]}
mymodels = [sveLGBM(),  sveXGB(), sveADA(), sveRF(), sveLDA(), sveET()]
mynames = ['sveLGBM',  'sveXGB', 'sveADA', 'sveRF', 'sveLDA', 'sveET']
for clfname,name in zip(mymodels,mynames):
    clf = create_model(clfname)
    tuned_model, tuner = tune_model(clf, optimize = 'BA', search_algorithm='grid', custom_grid=hparams, return_tuner=True)
    tuners += [tuner]
    save_model(tuned_model, os.path.join(savepath, f'saved_{name}_model'))
    
for clfname in ['lightgbm', 'xgboost', 'ada', 'rf', 'lda', 'lr', 'et', 'svm']:
    clf = create_model(clfname)
    tuned_model, tuner = tune_model(clf, optimize = 'BA', return_tuner=True)
    tuned_models += [tuned_model]
    tuners += [tuner]
    save_model(tuned_model, os.path.join(savepath, f'saved_{clfname}_model'))

results = compare_models(include=tuned_models, sort='BA')

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent='warn',
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0,
               verbose=-1)
XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              objective='binary:logistic', predictor=None, ...)
AdaBoostClassifier(algorithm='SAMME.R', estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=None)
RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='sqrt',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_samples_leaf=1,
                       min_samples_split=2, min_weight_fraction_leaf=0.0,
                       monotonic_cst=None, n_estimators=100, n_jobs=None,
                       oob_score=False, random_state=None, verbose=0,
                       warm_start=False)
LinearDiscriminantAnalysis(covariance_estimator=None, n_components=None,
                           priors=None, shrinkage=None, solver='svd',
                           store_covariance=False, tol=0.0001)

Fitting 5 folds for each of 9 candidates, totalling 45 fits
Transformation Pipeline and Model Successfully Saved

Fitting 5 folds for each of 9 candidates, totalling 45 fits
Transformation Pipeline and Model Successfully Saved

Fitting 5 folds for each of 9 candidates, totalling 45 fits
Transformation Pipeline and Model Successfully Saved

Fitting 5 folds for each of 9 candidates, totalling 45 fits
Transformation Pipeline and Model Successfully Saved

Fitting 5 folds for each of 9 candidates, totalling 45 fits
Transformation Pipeline and Model Successfully Saved

Fitting 5 folds for each of 10 candidates, totalling 50 fits
[LightGBM] [Warning] bagging_freq is set=5, subsample_freq=0 will be ignored. Current value: bagging_freq=5
[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=0.6, subsample=1.0 will be ignored. Current value: bagging_fraction=0.6
[LightGBM] [Warning] bagging_freq is set=5, subsample_freq=0 will be ignored. Current value: bagging_freq=5
[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=0.6, subsample=1.0 will be ignored. Current value: bagging_fraction=0.6
[LightGBM] [Warning] bagging_freq is set=0, subsample_freq=0 will be ignored. Current value: bagging_freq=0
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_fraction is set=0.5, subsample=1.0 will be ignored. Current value: bagging_fraction=0.5
[LightGBM] [Warning] bagging_freq is set=0, subsample_freq=0 will be ignored. Current value: bagging_freq=0
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_fraction is set=0.5, subsample=1.0 will be ignored. Current value: bagging_fraction=0.5
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=0.9, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=0.9, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=0.9, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9
[LightGBM] [Warning] bagging_freq is set=5, subsample_freq=0 will be ignored. Current value: bagging_freq=5
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_fraction is set=0.8, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8
[LightGBM] [Warning] bagging_freq is set=5, subsample_freq=0 will be ignored. Current value: bagging_freq=5
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_fraction is set=0.8, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8
[LightGBM] [Warning] bagging_freq is set=2, subsample_freq=0 will be ignored. Current value: bagging_freq=2
[LightGBM] [Warning] feature_fraction is set=0.6, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.6
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=2, subsample_freq=0 will be ignored. Current value: bagging_freq=2
[LightGBM] [Warning] feature_fraction is set=0.6, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.6
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=2, subsample_freq=0 will be ignored. Current value: bagging_freq=2
[LightGBM] [Warning] feature_fraction is set=0.6, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.6
[LightGBM] [Warning] bagging_fraction is set=1.0, subsample=1.0 will be ignored. Current value: bagging_fraction=1.0
[LightGBM] [Warning] bagging_freq is set=3, subsample_freq=0 will be ignored. Current value: bagging_freq=3
[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=0.4, subsample=1.0 will be ignored. Current value: bagging_fraction=0.4
[LightGBM] [Warning] bagging_freq is set=3, subsample_freq=0 will be ignored. Current value: bagging_freq=3
[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=0.4, subsample=1.0 will be ignored. Current value: bagging_fraction=0.4
[LightGBM] [Warning] bagging_freq is set=3, subsample_freq=0 will be ignored. Current value: bagging_freq=3
[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=0.4, subsample=1.0 will be ignored. Current value: bagging_fraction=0.4
[LightGBM] [Warning] bagging_freq is set=0, subsample_freq=0 will be ignored. Current value: bagging_freq=0
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_fraction is set=0.7, subsample=1.0 will be ignored. Current value: bagging_fraction=0.7
[LightGBM] [Warning] bagging_freq is set=0, subsample_freq=0 will be ignored. Current value: bagging_freq=0
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_fraction is set=0.7, subsample=1.0 will be ignored. Current value: bagging_fraction=0.7
[LightGBM] [Warning] bagging_freq is set=0, subsample_freq=0 will be ignored. Current value: bagging_freq=0
[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.8, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8
[LightGBM] [Warning] bagging_freq is set=0, subsample_freq=0 will be ignored. Current value: bagging_freq=0
[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.8, subsample=1.0 will be ignored. Current value: bagging_fraction=0.8
[LightGBM] [Warning] bagging_freq is set=3, subsample_freq=0 will be ignored. Current value: bagging_freq=3
[LightGBM] [Warning] feature_fraction is set=0.6, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.6
[LightGBM] [Warning] bagging_fraction is set=0.4, subsample=1.0 will be ignored. Current value: bagging_fraction=0.4
[LightGBM] [Warning] bagging_freq is set=3, subsample_freq=0 will be ignored. Current value: bagging_freq=3
[LightGBM] [Warning] feature_fraction is set=0.6, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.6
[LightGBM] [Warning] bagging_fraction is set=0.4, subsample=1.0 will be ignored. Current value: bagging_fraction=0.4
[LightGBM] [Warning] bagging_freq is set=3, subsample_freq=0 will be ignored. Current value: bagging_freq=3
[LightGBM] [Warning] feature_fraction is set=0.6, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.6
[LightGBM] [Warning] bagging_fraction is set=0.4, subsample=1.0 will be ignored. Current value: bagging_fraction=0.4
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=0.6, subsample=1.0 will be ignored. Current value: bagging_fraction=0.6
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=0.6, subsample=1.0 will be ignored. Current value: bagging_fraction=0.6
[LightGBM] [Warning] bagging_freq is set=1, subsample_freq=0 will be ignored. Current value: bagging_freq=1
[LightGBM] [Warning] feature_fraction is set=0.7, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.7
[LightGBM] [Warning] bagging_fraction is set=0.6, subsample=1.0 will be ignored. Current value: bagging_fraction=0.6
[LightGBM] [Warning] bagging_freq is set=0, subsample_freq=0 will be ignored. Current value: bagging_freq=0
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_fraction is set=0.5, subsample=1.0 will be ignored. Current value: bagging_fraction=0.5
Transformation Pipeline and Model Successfully Saved

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Transformation Pipeline and Model Successfully Saved

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).
Transformation Pipeline and Model Successfully Saved

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Transformation Pipeline and Model Successfully Saved

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Transformation Pipeline and Model Successfully Saved

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Transformation Pipeline and Model Successfully Saved

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Transformation Pipeline and Model Successfully Saved

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Transformation Pipeline and Model Successfully Saved

[LightGBM] [Warning] bagging_freq is set=0, subsample_freq=0 will be ignored. Current value: bagging_freq=0
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_fraction is set=0.5, subsample=1.0 will be ignored. Current value: bagging_fraction=0.5
[LightGBM] [Warning] bagging_freq is set=0, subsample_freq=0 will be ignored. Current value: bagging_freq=0
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_fraction is set=0.5, subsample=1.0 will be ignored. Current value: bagging_fraction=0.5
[LightGBM] [Warning] bagging_freq is set=0, subsample_freq=0 will be ignored. Current value: bagging_freq=0
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_fraction is set=0.5, subsample=1.0 will be ignored. Current value: bagging_fraction=0.5

#### 4.3. Compare tuned models

In [16]:
models = []
for clfname in ['sveLGBM',  'sveADA', 'sveRF', 'sveLDA', 'sveET', 
                'lightgbm', 'ada', 'rf', 'lda', 'lr', 'et', 'svm']:
    models += [load_model(os.path.join(savepath, f'saved_{clfname}_model'))]    
results = compare_models(include=models, sort='BA')

Transformation Pipeline and Model Successfully Loaded
Transformation Pipeline and Model Successfully Loaded
Transformation Pipeline and Model Successfully Loaded
Transformation Pipeline and Model Successfully Loaded
Transformation Pipeline and Model Successfully Loaded
Transformation Pipeline and Model Successfully Loaded
Transformation Pipeline and Model Successfully Loaded
Transformation Pipeline and Model Successfully Loaded
Transformation Pipeline and Model Successfully Loaded
Transformation Pipeline and Model Successfully Loaded
Transformation Pipeline and Model Successfully Loaded
Transformation Pipeline and Model Successfully Loaded

Initiated  . . . . . . . . . . . . . . . . . .         17:45:21
Status     . . . . . . . . . . . . . . . . . .  Fitting 5 Folds
Estimator  . . . . . . . . . . . . . . . . . .           sveADA

Processing:   0%|          | 0/53 [00:00<?, ?it/s]

#### 4.4. Show list of ranked classifiers

In [15]:
df = pull()
df.to_csv("../results/pycaret_best_tuned_classifier_metrics.csv", index=True)
print(df.to_latex())

\begin{tabular}{llrrrrrrr}
\toprule
 & Model & Accuracy & AUC & MCC & Sensitivity & Specificity & BA & TT (Sec) \\
\midrule
0 & sveLGBM & 0.850100 & 0.951200 & 0.483000 & 0.914800 & 0.845000 & 0.879900 & 14.608000 \\
1 & sveADA & 0.856900 & 0.945400 & 0.487400 & 0.901100 & 0.853500 & 0.877300 & 13.146000 \\
4 & sveET & 0.866600 & 0.936400 & 0.480800 & 0.852700 & 0.867600 & 0.860200 & 3.588000 \\
2 & sveRF & 0.883200 & 0.938600 & 0.502100 & 0.832000 & 0.887200 & 0.859600 & 3.008000 \\
7 & Random Forest Classifier & 0.810200 & 0.903600 & 0.389200 & 0.830800 & 0.808600 & 0.819700 & 0.916000 \\
10 & Extra Trees Classifier & 0.826100 & 0.871100 & 0.376300 & 0.761800 & 0.831100 & 0.796500 & 0.758000 \\
8 & Linear Discriminant Analysis & 0.945500 & 0.931800 & 0.591800 & 0.619100 & 0.970900 & 0.795000 & 6.512000 \\
3 & sveLDA & 0.740800 & 0.856100 & 0.320500 & 0.837800 & 0.733300 & 0.785500 & 5.074000 \\
9 & Logistic Regression & 0.899400 & 0.842400 & 0.437700 & 0.627200 & 0.920500 & 0.773900 & 1.572000 \\
11 & SVM - Linear Kernel & 0.885200 & 0.827900 & 0.391500 & 0.600700 & 0.907300 & 0.754000 & 19.138000 \\
6 & Ada Boost Classifier & 0.943700 & 0.928900 & 0.534100 & 0.492500 & 0.978700 & 0.735600 & 4.790000 \\
5 & Light Gradient Boosting Machine & 0.947900 & 0.940600 & 0.553700 & 0.474100 & 0.984700 & 0.729400 & 2.174000 \\
\bottomrule
\end{tabular}

### 5. Show optimal hyper-paramenters of sveLGB for E vs NE classification in kidney case sturdy

In [3]:
import pandas as pd
print(pd.read_csv("../results/svelgbm_Kidney_hypersearch_ba_cv.csv").replace({'':'','':'','':'','':''}).sort_values('value', ascending=False).to_latex())

\begin{tabular}{lrrrllllrrrl}
\toprule
 & Unnamed: 0 & number & value & datetime_start & datetime_complete & duration & params_boosting_type & params_learning_rate & params_n_estimators & params_n_voters & state \\
\midrule
37 & 37 & 37 & 0.893151 & 2024-06-05 11:48:54.638670 & 2024-06-05 11:50:51.129284 & 0 days 00:01:56.490614 & gbdt & 0.094505 & 200 & 13 & COMPLETE \\
15 & 15 & 15 & 0.891459 & 2024-06-05 11:16:36.759285 & 2024-06-05 11:17:48.725832 & 0 days 00:01:11.966547 & gbdt & 0.098300 & 140 & 10 & COMPLETE \\
44 & 44 & 44 & 0.890954 & 2024-06-05 12:01:09.467990 & 2024-06-05 12:03:01.279431 & 0 days 00:01:51.811441 & gbdt & 0.076452 & 200 & 12 & COMPLETE \\
43 & 43 & 43 & 0.890826 & 2024-06-05 11:59:18.529245 & 2024-06-05 12:01:09.439684 & 0 days 00:01:50.910439 & gbdt & 0.075168 & 200 & 12 & COMPLETE \\
41 & 41 & 41 & 0.890602 & 2024-06-05 11:55:19.637376 & 2024-06-05 11:57:14.427060 & 0 days 00:01:54.789684 & gbdt & 0.078591 & 200 & 13 & COMPLETE \\
33 & 33 & 33 & 0.890241 & 2024-06-05 11:41:24.249171 & 2024-06-05 11:43:10.811969 & 0 days 00:01:46.562798 & gbdt & 0.098020 & 180 & 13 & COMPLETE \\
31 & 31 & 31 & 0.889936 & 2024-06-05 11:38:39.300887 & 2024-06-05 11:40:07.620982 & 0 days 00:01:28.320095 & gbdt & 0.059095 & 160 & 11 & COMPLETE \\
34 & 34 & 34 & 0.889739 & 2024-06-05 11:43:10.839798 & 2024-06-05 11:45:06.900256 & 0 days 00:01:56.060458 & gbdt & 0.085756 & 200 & 13 & COMPLETE \\
22 & 22 & 22 & 0.889298 & 2024-06-05 11:25:26.230130 & 2024-06-05 11:26:54.179467 & 0 days 00:01:27.949337 & gbdt & 0.063759 & 180 & 9 & COMPLETE \\
30 & 30 & 30 & 0.889146 & 2024-06-05 11:37:07.850616 & 2024-06-05 11:38:39.277972 & 0 days 00:01:31.427356 & gbdt & 0.054934 & 160 & 12 & COMPLETE \\
36 & 36 & 36 & 0.889028 & 2024-06-05 11:46:56.479716 & 2024-06-05 11:48:54.613399 & 0 days 00:01:58.133683 & gbdt & 0.076796 & 200 & 14 & COMPLETE \\
23 & 23 & 23 & 0.888994 & 2024-06-05 11:26:54.212821 & 2024-06-05 11:28:13.256683 & 0 days 00:01:19.043862 & gbdt & 0.065602 & 160 & 9 & COMPLETE \\
42 & 42 & 42 & 0.888759 & 2024-06-05 11:57:14.453339 & 2024-06-05 11:59:18.504381 & 0 days 00:02:04.051042 & gbdt & 0.076634 & 200 & 16 & COMPLETE \\
40 & 40 & 40 & 0.888419 & 2024-06-05 11:53:50.416004 & 2024-06-05 11:55:19.609359 & 0 days 00:01:29.193355 & gbdt & 0.044127 & 180 & 10 & COMPLETE \\
4 & 4 & 4 & 0.888175 & 2024-06-05 11:00:34.985200 & 2024-06-05 11:02:04.447899 & 0 days 00:01:29.462699 & gbdt & 0.088891 & 140 & 15 & COMPLETE \\
39 & 39 & 39 & 0.887998 & 2024-06-05 11:52:23.815915 & 2024-06-05 11:53:50.393635 & 0 days 00:01:26.577720 & gbdt & 0.098960 & 140 & 14 & COMPLETE \\
49 & 49 & 49 & 0.887826 & 2024-06-05 12:08:21.056280 & 2024-06-05 12:10:25.153124 & 0 days 00:02:04.096844 & gbdt & 0.057674 & 200 & 16 & COMPLETE \\
11 & 11 & 11 & 0.886745 & 2024-06-05 11:09:23.401873 & 2024-06-05 11:11:12.844978 & 0 days 00:01:49.443105 & gbdt & 0.059871 & 180 & 15 & COMPLETE \\
47 & 47 & 47 & 0.886566 & 2024-06-05 12:05:43.967330 & 2024-06-05 12:07:40.729782 & 0 days 00:01:56.762452 & gbdt & 0.049777 & 200 & 14 & COMPLETE \\
29 & 29 & 29 & 0.886259 & 2024-06-05 11:35:41.090319 & 2024-06-05 11:37:07.825876 & 0 days 00:01:26.735557 & gbdt & 0.042902 & 180 & 9 & COMPLETE \\
32 & 32 & 32 & 0.885557 & 2024-06-05 11:40:07.648602 & 2024-06-05 11:41:24.216740 & 0 days 00:01:16.568138 & gbdt & 0.052158 & 140 & 11 & COMPLETE \\
0 & 0 & 0 & 0.885387 & 2024-06-05 10:55:36.431230 & 2024-06-05 10:57:27.994247 & 0 days 00:01:51.563017 & gbdt & 0.049584 & 180 & 15 & COMPLETE \\
24 & 24 & 24 & 0.885176 & 2024-06-05 11:28:13.283267 & 2024-06-05 11:29:31.878620 & 0 days 00:01:18.595353 & gbdt & 0.048817 & 160 & 9 & COMPLETE \\
21 & 21 & 21 & 0.884109 & 2024-06-05 11:23:30.056208 & 2024-06-05 11:25:26.201734 & 0 days 00:01:56.145526 & gbdt & 0.070336 & 180 & 17 & COMPLETE \\
12 & 12 & 12 & 0.884045 & 2024-06-05 11:11:12.878465 & 2024-06-05 11:12:54.888003 & 0 days 00:01:42.009538 & gbdt & 0.060010 & 160 & 16 & COMPLETE \\
13 & 13 & 13 & 0.883496 & 2024-06-05 11:12:54.911635 & 2024-06-05 11:15:03.241229 & 0 days 00:02:08.329594 & gbdt & 0.082780 & 200 & 17 & COMPLETE \\
27 & 27 & 27 & 0.883429 & 2024-06-05 11:32:46.372520 & 2024-06-05 11:34:15.827032 & 0 days 00:01:29.454512 & gbdt & 0.036259 & 160 & 12 & COMPLETE \\
14 & 14 & 14 & 0.883002 & 2024-06-05 11:15:03.263901 & 2024-06-05 11:16:36.734840 & 0 days 00:01:33.470939 & gbdt & 0.043999 & 160 & 13 & COMPLETE \\
45 & 45 & 45 & 0.882917 & 2024-06-05 12:03:01.301653 & 2024-06-05 12:03:57.041232 & 0 days 00:00:55.739579 & gbdt & 0.071196 & 80 & 15 & COMPLETE \\
19 & 19 & 19 & 0.881732 & 2024-06-05 11:21:11.873049 & 2024-06-05 11:22:28.227983 & 0 days 00:01:16.354934 & gbdt & 0.034591 & 140 & 11 & COMPLETE \\
35 & 35 & 35 & 0.880509 & 2024-06-05 11:45:06.928916 & 2024-06-05 11:46:56.458933 & 0 days 00:01:49.530017 & dart & 0.099165 & 200 & 13 & COMPLETE \\
46 & 46 & 46 & 0.880259 & 2024-06-05 12:03:57.072919 & 2024-06-05 12:05:43.944116 & 0 days 00:01:46.871197 & dart & 0.080275 & 200 & 12 & COMPLETE \\
26 & 26 & 26 & 0.878634 & 2024-06-05 11:31:14.870915 & 2024-06-05 11:32:46.346121 & 0 days 00:01:31.475206 & dart & 0.070387 & 200 & 8 & COMPLETE \\
38 & 38 & 38 & 0.876939 & 2024-06-05 11:50:51.154555 & 2024-06-05 11:52:23.789150 & 0 days 00:01:32.634595 & dart & 0.081331 & 180 & 11 & COMPLETE \\
28 & 28 & 28 & 0.875443 & 2024-06-05 11:34:15.858102 & 2024-06-05 11:35:41.067117 & 0 days 00:01:25.209015 & gbdt & 0.021234 & 180 & 7 & COMPLETE \\
18 & 18 & 18 & 0.872098 & 2024-06-05 11:20:21.250389 & 2024-06-05 11:21:11.849943 & 0 days 00:00:50.599554 & dart & 0.051942 & 100 & 10 & COMPLETE \\
17 & 17 & 17 & 0.869416 & 2024-06-05 11:19:09.954100 & 2024-06-05 11:20:21.222264 & 0 days 00:01:11.268164 & gbdt & 0.027927 & 140 & 6 & COMPLETE \\
48 & 48 & 48 & 0.869126 & 2024-06-05 12:07:40.757239 & 2024-06-05 12:08:21.032810 & 0 days 00:00:40.275571 & gbdt & 0.031879 & 60 & 12 & COMPLETE \\
1 & 1 & 1 & 0.868272 & 2024-06-05 10:57:28.036931 & 2024-06-05 10:58:03.917219 & 0 days 00:00:35.880288 & gbdt & 0.028757 & 60 & 10 & COMPLETE \\
2 & 2 & 2 & 0.867393 & 2024-06-05 10:58:03.943144 & 2024-06-05 10:59:05.800986 & 0 days 00:01:01.857842 & dart & 0.097710 & 80 & 20 & COMPLETE \\
9 & 9 & 9 & 0.865516 & 2024-06-05 11:06:23.253566 & 2024-06-05 11:07:21.182252 & 0 days 00:00:57.928686 & gbdt & 0.014628 & 100 & 12 & COMPLETE \\
3 & 3 & 3 & 0.864723 & 2024-06-05 10:59:05.824959 & 2024-06-05 11:00:34.964696 & 0 days 00:01:29.139737 & dart & 0.022029 & 200 & 8 & COMPLETE \\
7 & 7 & 7 & 0.863132 & 2024-06-05 11:04:12.898727 & 2024-06-05 11:05:01.378222 & 0 days 00:00:48.479495 & gbdt & 0.037196 & 60 & 19 & COMPLETE \\
25 & 25 & 25 & 0.858484 & 2024-06-05 11:29:31.913448 & 2024-06-05 11:31:14.844163 & 0 days 00:01:42.930715 & gbdt & 0.063340 & 180 & 4 & COMPLETE \\
6 & 6 & 6 & 0.853296 & 2024-06-05 11:02:54.607868 & 2024-06-05 11:04:12.878780 & 0 days 00:01:18.270912 & dart & 0.007230 & 140 & 14 & COMPLETE \\
16 & 16 & 16 & 0.841683 & 2024-06-05 11:17:48.749369 & 2024-06-05 11:19:09.929881 & 0 days 00:01:21.180512 & gbdt & 0.098819 & 120 & 3 & COMPLETE \\
8 & 8 & 8 & 0.837894 & 2024-06-05 11:05:01.403661 & 2024-06-05 11:06:23.226002 & 0 days 00:01:21.822341 & dart & 0.013705 & 120 & 20 & COMPLETE \\
10 & 10 & 10 & 0.807671 & 2024-06-05 11:07:21.204818 & 2024-06-05 11:09:23.377896 & 0 days 00:02:02.173078 & gbdt & 0.089129 & 160 & 2 & COMPLETE \\
20 & 20 & 20 & 0.780058 & 2024-06-05 11:22:28.248833 & 2024-06-05 11:23:30.032032 & 0 days 00:01:01.783199 & gbdt & 0.007526 & 120 & 5 & COMPLETE \\
5 & 5 & 5 & 0.500000 & 2024-06-05 11:02:04.473791 & 2024-06-05 11:02:54.579557 & 0 days 00:00:50.105766 & gbdt & 0.001175 & 100 & 7 & COMPLETE \\
\bottomrule
\end{tabular}